body{
    margin-bottom: 20px;
    font-family: "Share-Regular";
}


input, label, button {
    display:block;
    margin-bottom: 20px;
}

.wrapper {
    width: 33%;
    background-color: #e4e4e4;
}




/* Sections START*/
section {
    padding: 20;
    border-bottom: 1px solid #b9b9b9;
}

/* Sections END*/







/*Input fields START*/
input {
    border-color: 1px solid #515151;
    width: 200px;
    height: 30px;

}

label {
    margin-bottom: 5px;
}
/*Input fields END*/





/* Buttons START*/
button {
    width: 150px;
    border: 0px;
    font-size: 14px;
    color: #fff;
}

.annotateAll {
    height: 40px;
    border-radius: 5px;
    background-color: #FF8700;
}

.annotateAll:hover {
    background-color: #d06e01;
}

.basicButton {
    height: 30px;
    border-radius: 5px;
    background-color: #B9B9B9;
}

.basicButton:hover {
    background-color: #9c9c9c;
}
/* Buttons END*/

.moduletitle {
    background-color: #666;
    width: 100%;
    color: #fff;
    display: inline-block;
}

.sectiontitle {
    background-color: #333;
    padding: 0;
}

.entitylist {

}



h1, h3 {
    display: inline-block;
    float: left;
    padding-left: 20px;
}



.icons {
    width: 20px;
    position: relative;
    display: inline-block;
    float: right;
    padding: 30 20 0 20;    
}

.iconEntityTitle {
        padding: 20 20 20 20; 
}



.iconOpenAccordion {
    width: 20px;
    float: left;
    padding: 19 0 0 20; 
}

.iconClose {
    width: 15px;
}
