.htmlarea-show-annotations [vocab] {
    background-color: #666;
    color: white;
    padding: 3px;
}

.htmlarea-show-annotations [property]
{
    background-color: #e0e0e0;
    color: #666;
    padding: 1px 3px 1px 3px;
}

p.lead {
    line-height: 1.8em;
}

showAnnotate{
    background-color: red;
}
