.showAnnotate
{
    background-image: url('images/showannotate.svg') !important;
    background-position: 0 0 !important;
    background-color: rgba(255, 135, 0, 1.0);
}

h1 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
}

.annotate .wrapper {
    background-color: #e4e4e4;
    width: 500px;
}

.annotate input, .annotate label, .annotate button {
    margin-bottom: 20px;
    border:1px solid #b9b9b9;
}

.annotate section {
    padding: 10px 0px 0px 20px;
}

.annotate input {
    border-color: 1px solid #b9b9b9;
    height: 23px;
    margin-right: 0px;
    width: 93%;
}

.annotate label {
    margin-bottom: 5px;
}

.annotate button {
    padding: 0px 15px 0px 15px;
    height: 36px;
    border: 0px;
    font-size: 14px;
    color: #fff;
    white-space: normal !important;
    background-color:#B9B9B9;
    border-radius: 4px;
    margin-right: 15px;
}

button:hover {
    background-color: #9c9c9c;
}

.annotate .all {
    height: 36px;
    border-radius: 5px;
    background-color: #FF8700;
    background-image: url(images/annotate.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
}

.annotate .all:hover {
    background-color: #d06e01;
}

.annotate .basic {
    background-color: #B9B9B9;
    background-image: url(images/aroundselection-01.png);
    background-repeat: no-repeat;
    text-indent: 22px;

}

.annotate .index {
    background-image: url(images/index-01.png);
    background-repeat: no-repeat;
    text-indent: 22px;
}

.annotate .basic:hover {
    background-color: #9c9c9c;
}

.annotate .sectionTitle {
    background-color: #333;
    padding: 0;
}

.annotate .entities {
    margin: 0px 10px 0 10px;
    padding: 0px 10px 10px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.entity {
    margin-bottom: 20px;
}

.annotate .entry {
}

.annotate .moduleTitle {
    background-color: #666;
    width: 100%;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    margin-bottom: 1px;
    margin: 0px 0px 1px 0px;
}

.annotate h1, .annotate h3 {
    text-align: left;
    color: #fff !important;
    margin: 7px 0px 7px 7px;
}

.annotate .moduleTitle button{
    padding: 0 !important;
    margin: 0.3em 0.4em 0em 0.1em !important;
}

.annotate .icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 5px 10px 10px 10px;
}

.annotate .iconExpand {
    float: left;
    background: url("images/arrow_acc.svg") no-repeat;
    transform: rotate(-90deg);
}

.annotate .expanded .iconExpand {
    transform: rotate(0deg);
}

.annotate .iconDelete {
    float: right;
    background: url("images/close.svg") no-repeat;
}

.annotate .iconDeleteDark{
    background: url("images/close_dark.svg") no-repeat;
    width: 13px;
    height: 13px;
    margin-bottom: 25px;
    border: 0px;
}

.annotate .iconDeleteDark:hover {
    background-color: #e4e4e4;
}

.annotate .iconDeleteDark:active {
    background-color: #e4e4e4;
}

.annotate .spinner {
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}

.annotate .header {
    height: 100px;
}

.annotate .inputLabel {
    margin-bottom: 10px;
}

/*.annotate .property {
    display: inline-block;
}*/

.annotate .property .key {
    display: inline-block;
    display: -moz-inline-stack;
    width: 40%;
}

.annotate .property .value {
    display: inline-block;
    display: -moz-inline-stack;
    width: 40%;
}

.annotate .property .separator {
    background-image: url("images/separator.svg");
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    margin-left: 10px;
    display: inline;
    border: 0px;
    width: 3px;
    height: 7px;
}


.new button {
background-color: red;

}