.showAnnotate
{
	  background-image: url('images/ed_html.gif') !important;
	  background-position: 0 0 !important;
}

.annotate .wrapper {
    background-color: #e4e4e4;
    width: 300px;
}

.annotate input, .annotate label, .annotate button {
    display:block;
    margin-bottom: 20px;
}

.annotate section {
    padding: 20px;
}

.annotate input {
    border-color: 1px solid #515151;
    width: 200px;
    height: 30px;
    margin-right: 0px;
    width: 90%;
}

.annotate label {
    margin-bottom: 5px;
}

.annotate button {
    width: 150px;
    border: 0px;
    font-size: 14px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    white-space: normal !important;
}

.annotate .all {
    height: 40px;
    border-radius: 5px;
    background-color: #FF8700;
}

.annotate .all:hover {
    background-color: #d06e01;
}

.annotate .basic {
    height: 30px;
    border-radius: 5px;
    background-color: #B9B9B9;
}

.annotate .basic:hover {
    background-color: #9c9c9c;
}

.annotate .sectionTitle {
    background-color: #333;
    padding: 0;
}

.annotate .entities {
}

.annotate .entry {
}

.annotate .moduleTitle {
    background-color: #666;
    width: 100%;
    color: #fff !important;
    display: inline-block;
    text-align: center;
}

.annotate h1, .annotate h3 {
    text-align: center;
    margin: 0;
    color: #fff !important;
    margin-bottom: 5px;
}

.annotate .moduleTitle button{
    padding: 0 !important;
    margin: 0.5em !important;
}

.annotate .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.annotate .iconExpand {
    float: left;
    background: url("images/arrow_acc.svg") no-repeat;
    transform: rotate(-90deg);
}

.annotate .expanded .iconExpand {
    transform: rotate(0deg);
}

.annotate .iconDelete {
    float: right;
    background: url("images/close.svg") no-repeat;
}

.annotate .spinner {
    margin-left: 150px;
    margin-top: 50px;
    position: absolute;
}