.annotateAuto {
	background-image: url('images/ed_html.gif') !important;
	background-position: 0 0 !important;
}

.annotateHighlight {
	background-image: url('images/ed_html.gif') !important;
	background-position: 0 0 !important;
}
